body {
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.header {
    width: 100%;
    margin-top: 50px;
}

.bg-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.bg-holder .bg {
    width: 100%;
    height: 956px;
    object-fit: cover;
    object-position: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo-link {
    max-width: 100px;
    margin-right: 115px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: auto;
}

.nav-link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 24px */

}

.header-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-btn {
    padding: 12px 30px;
    border-radius: 32px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 24px */
}

.header-btn {}

.header-tel {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 24px */
}

.main {
    width: 100%;
}

.promo .wrapper {
    flex-direction: column;
    align-items: start;
    margin-top: 194px;
    gap: 16px;
    margin-top: 0px;

}

.heading {
    color: #FFF;
    font-family: Dela Gothic One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    margin-top: 194px;
    /* 56.64px */
    text-transform: uppercase;
    max-width: 489px;
    ;
}

.description {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    max-width: 489px;
    /* 28.8px */
}

.promo-menu {
    display: flex;
    align-items: center;
    gap: 31px;
    margin-bottom: 188px;
}

.btn {
    border-radius: 32px;
    padding: 12px 30px;
    background: #E32966;
    box-shadow: 0px 9px 26px 0px rgba(227, 41, 102, 0.30);
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 24px */
}

.btn-outline {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 24px */
    padding: 12px 30px;
    border-radius: 32px;
    border: 1.5px solid #E32966;
}

.socials {
    display: flex;
    align-items: start;
    gap: 20px;
    margin-bottom: 123px;
}

.social-link {}

.about {}

.about .wrapper {
    flex-direction: column;
    align-items: start;
    margin-top: 194px;
    gap: 16px;
    margin-top: 0px;
}

.subheading {
    color: #FFF;
    font-family: Dela Gothic One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    margin-top: 0px;
    margin-bottom: 62px;
    /* 47.2px */
    text-transform: uppercase;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 111px;
    align-items: center;

}

.about-img {
    max-width: 948px;
    width: 100%;
    height: 533px;
    // background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 363px;
}

.img-about-text {}

.about-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    /* 21.24px */
}


.game_halls {}

section {
    margin-bottom: 95px;
    // margin-top: 0px;
}

.game-halls .wrapper {
    flex-direction: column;
    align-items: start;
    margin-top: 194px;
    gap: 16px;
    margin-top: 0px;
}

.game-halls .subheading {
    // margin-top: 94px;
}

.hall-list {
    display: flex;
    width:100%;
    flex-direction: row;
    // gap: 111px;
    align-items: center;
    justify-content: space-between;
}

.hall-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    position: relative;
    // gap:23px;
    max-width: 390px;
    width: 100%;
    // height: 450px;
    opacity: 1;
    background: radial-gradient(72.29% 44.07% at 50% 93.92%, #A40A79 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(45.56% 43.91% at 4.78% 4.31%, #008DF3 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(67.34% 60.82% at 98.22% 1.22%, #DC18C8 0%, rgba(0, 0, 0, 0.00) 100%), rgba(22, 43, 237, 0.50);
    filter: drop-shadow(0px 8px 24px rgba(198, 185, 185, 0.507));
}

.halls-card-img-wrapper {
    width: 100%;
    height: 213px;
    overflow: hidden;
}

.hall-img {
    transition: .3s;

}

.halls-card-body {
    width: 100%;
    padding-top: 23px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.halls-card-body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 1;
    // display: block;
}

.hall-card:hover .hall-img {
    transform: scale(1.2);
}

.halls-card-heading {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 118%;
    position: relative;
    z-index: 2;
    /* 21.24px */
}

.halls-card-description {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    position: relative;
    max-width: 319px;
    z-index: 2;
    /* 21.24px */
}

.halls-card-btn {
    border-radius: 32px;
    border: 1px solid #E32966;
    background: #E32966;
    box-shadow: 0px 9px 26px 0px rgba(227, 41, 102, 0.30);
    padding: 12px 30px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    position: relative;
    z-index: 2;
    /* 24px */
}


.games {}

.games .wrapper {
    flex-direction: column;
    align-items: start;
    margin-top: 194px;
    gap: 16px;
    margin-top: 0px;
}

.subheading {}

.games-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 130px;
    flex-direction: row;
}

.games-menu {
    display: flex;
    flex-direction: column;
    gap: 57px;

}

.game-menu-item {}

.menu-item-btn {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    background: none;
    border: none;
    padding-right: 33px;
    background-image: url("../assets/img/Стрелочка.svg");
    background-position: right;
    background-repeat: no-repeat;
}


.menu-item-btn:hover {
    color: #E32966;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    background: none;
    border: none;
    padding-right: 32px;
    background-image: url("../assets/img/Стрелка_роз.svg");
    background-position: right;
    background-repeat: no-repeat;
}

.game-slider {
    // margin-right: 60px;
    width: 100%;
    max-width: 1030px;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}

.game-img {
    width: 100%;
    height: 484px;
    object-fit: cover;
}

.price {
    width: 100%;
}
.price .wrapper {
    flex-direction: column;
    align-items: start;
    margin-top: 194px;
    gap: 16px;
    margin-top: 0px;
}
.subheading {
}
.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:4.2px;
}
.table-head {
    width: 100%;
}

.table-head .td {
    width: 100%;
    height: 132px;
    padding: 0px 0px;
}

.table-head .row{
    align-items: stretch;
}

.table-body .td {
    width: 100%;
    height: 98px;
    // max-width: 354px;
    // padding: 32px 16px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4.2px;
    justify-content: space-between;
    align-items: center;
}
.td {
    width: 100%;
    background: #1F1F22;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
}

.td:hover {
    filter: brightness(1.1);
    width: 100%;
    // background: #3232c6;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-split {
    width: 100%;
    position: relative;
    background-image: url("../assets/svg/table-rectangle/Rectangle16.svg"),url("../assets/svg/table-rectangle/Rectangle17.svg");
    background-position: left -3px bottom -19px, top -3px right -1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;

    // &::before{
    //     content: "";
    //     width: 100%;
    //     height: 3px;
    //     position: absolute;
    //     top: 0;
    //     left:50%;
    //     transform: rotate(21deg);
    //     z-index: 1;
    //     background-color: red;
    // }

}
.players {
    position: absolute;
    left:20px;
    bottom: 20px;
}
.time {
    position: absolute;
    right: 20px;
    top: 20px;
}
.table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.2px;
}

.table-body .td{
    background: rgba(196, 196, 196, 0.20);
}

.button {
    padding: 12px 30px;
    border-radius: 32px;
    border: 1px solid #E32966;
    background: #E32966;
    box-shadow: 0px 9px 26px 0px rgba(227, 41, 102, 0.30);
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 45px;
}

.gallery {
    width: 100%;
}
.gallery .wrapper {
    flex-direction: column;
    align-items: start;
    margin-top: 194px;
    gap: 16px;
    margin-top: 0px;
}
// .subheading {
// }
.gallery-content {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.gallery-img {
    width: 100%;
    height: 499px;
}
.gallery-section__swiper {
    width: 100%;
    max-width: 446px;
    height: 529px;
    // opacity: 0.7;
    background: radial-gradient(72.29% 44.07% at 50% 93.92%, #A40A79 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(45.56% 43.91% at 4.78% 4.31%, #008DF3 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(67.34% 60.82% at 98.22% 1.22%, #DC18C8 0%, rgba(0, 0, 0, 0.00) 100%), rgba(22, 43, 237, 0.50);

    /* Тень */
    box-shadow: 0px 8px 24px 0px rgba(129, 135, 189, 0.15);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    // padding: 73px 83px;
    // position: relative;

}
.gallery-section__swiper::after {
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
    content: "";
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}


.gallery-slider-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    // max-width: 281px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 73px 83px;
    
}
.gallery-slider-pages {
}

.contact {
    width: 100%;
}
.contact .wrapper {
    flex-direction: row;
    align-items: start;
    gap: 16px;
    margin-top: 0px;
}
.contact-column {
    // margin-top: 194px;
}
.subheading {
}
.contact-subheading {
}
.contact-subheading-block {
}
.contact-subheading-h3 {
    color: #FFF;
    font-family: Dela Gothic One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; /* 28.32px */
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 32px;
}
.contact-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; /* 21.24px */
}
.contact-tel {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; /* 21.24px */
}
.contact-socials {
}
.social-link {
}
.contact-map {
    width: 100%;
}

.swiper {
    width: 100%;    
    z-index: 2;
}

// .swiper_2 {
//     width: 100%;   
//     z-index: 2; 
// }

.slider-button {
    display: block;
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    cursor: pointer;
}

.slider-button-left {
    // max-width: 22px;
    top: 181px;
    left: 0;
}
.slider-button-right {
    // max-width: 22px;
    top: 181px;
    right: 0px;
}


.slider-button-gallery {
    display: block;
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    cursor: pointer;
}


.slider-gallery-button-left {
    // max-width: 22px;
    top: 350px;
    left: 65px;
    z-index: 2;
}
.slider-gallery-button-right {
    // max-width: 22px;
    top: 350px;
    right: 65px;
    z-index: 2;
}
.gallery-slide-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 51.2px */
}
.swiper-gallery-slide{
    width: 33px;
    height: 53px;
}

.swiper-pagination {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    margin-bottom: 103px;
    z-index: 1;
}

.swiper-pagination-current {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 51.2px */
    }

.footer {
    // height: 111px;
    position: relative;
    padding-top: 38px;
    padding-bottom: 37px;
    width: 100%;
    background: radial-gradient(72.29% 44.07% at 50% 93.92%, #A40A79 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(45.56% 43.91% at 4.78% 4.31%, #008DF3 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(67.34% 60.82% at 98.22% 1.22%, #DC18C8 0%, rgba(0, 0, 0, 0.00) 100%), rgba(22, 43, 237, 0.50);

    /* Тень */
    box-shadow: 0px 8px 24px 0px rgba(129, 135, 189, 0.15);
    // z-index: -2;
}

.footer::after{
    width: 100%;
    height: 100%;
    background-color: black;
    content: "";
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.footer-copyrights{
    color: #C7C7C7;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
    position: relative;
    z-index: 2;
}
.footer-copyrights-link{
    color: #C7C7C7;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
    position: relative;
    z-index: 2;
}
.footer-logo-link{
    padding-right: 143px;
    position: relative;
    z-index: 2;
}
.nav-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-right: 143px;
    position: relative;
    z-index: 2;
}
.footer-nav-link{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 24px */
    position: relative;
    z-index: 2;
}
.footer-copyrights{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 2;
}